<portfolio-header title="Sacha Cardone - PortFolio" [sections]="sectionsMenu" #header></portfolio-header>
<ion-content [fullscreen]="true">
  <ng-container *ngIf="header.currentSection === 'about'">
    <portfolio-about></portfolio-about>
  </ng-container>
  <ng-container *ngIf="header.currentSection === 'projects'">
    <portfolio-projects></portfolio-projects>
  </ng-container>
  <ng-container *ngIf="header.currentSection === 'contact'">
    <portfolio-contact></portfolio-contact>
  </ng-container>
</ion-content>
