<portfolio-header title="Sacha Cardone - PortFolio | Tableau de bord"
                  [sections]="sectionsMenu" [returnButton]="true" #header>
</portfolio-header>
<ion-content [fullscreen]="true">
  <ng-container *ngIf="header.currentSection === 'about-management'">
    <portfolio-about-management></portfolio-about-management>
  </ng-container>
  <ng-container *ngIf="header.currentSection === 'projects-management'">
    <portfolio-projects-management></portfolio-projects-management>
  </ng-container>
  <ng-container *ngIf="header.currentSection === 'contact-management'">
    <portfolio-contact-management></portfolio-contact-management>
  </ng-container>
</ion-content>
