<app-header title="Sacha Cardone - PortFolio | Tableau de bord"
            [sections]="sectionsMenu" [returnButton]="true"  #header>
</app-header>
<ion-content [fullscreen]="true">
  <ng-container *ngIf="header.currentSection === 'about-management'">
    <app-about-management></app-about-management>
  </ng-container>
  <ng-container *ngIf="header.currentSection === 'projects-management'">
    <app-projects-management></app-projects-management>
  </ng-container>
  <ng-container *ngIf="header.currentSection === 'contact-management'">
    <app-contact-management></app-contact-management>
  </ng-container>
</ion-content>
