<sakyo-header title="Sacha Cardone - PortFolio | Tableau de bord"
            [sections]="sectionsMenu" [returnButton]="true"  #header>
</sakyo-header>
<ion-content [fullscreen]="true">
  <ng-container *ngIf="header.currentSection === 'about-management'">
    <sakyo-about-management></sakyo-about-management>
  </ng-container>
  <ng-container *ngIf="header.currentSection === 'projects-management'">
    <sakyo-projects-management></sakyo-projects-management>
  </ng-container>
  <ng-container *ngIf="header.currentSection === 'contact-management'">
    <sakyo-contact-management></sakyo-contact-management>
  </ng-container>
</ion-content>
