<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">Sacha Cardone - Portfolio</ion-title>
    <ion-buttons slot="secondary">
      <ng-container *ngFor="let section of sections">
        <ion-button (click)="changeSection(section.value)" [ngClass]="{'active': currentSection === section.value}">
          <ion-icon [name]="section.icon"></ion-icon>
          {{ section.name }}
        </ion-button>
      </ng-container>
    </ion-buttons>
    <app-dark-light-toggle slot="end"></app-dark-light-toggle>
  </ion-toolbar>
</ion-header>
